/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dubai Light', 'Cambria', serif;
    color: #2d2d2d;
  }
  
  body {
    background-color: rgb(241, 241, 241);
    line-height: 1.6;
    font-size: 24px;
    margin-right: 20em;
    margin-left: 20em;
    margin-top: 5em;
  }

.background {
  background-attachment: fixed;
  background-position: center;
background-repeat: no-repeat;
/* background-size: cover; */
}

h1 {
  font-size: 2.2em;
  color: #545454;
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.2em;
  color: #545454;
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
}

  h3, h4, h5, h6 {
    margin-bottom: 1rem;
  }
  
  p {
    text-align: justify;
    margin-bottom: 1.5rem;
  }
  
  a {
    color: #09734c;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  a:link, a:visited {
    border-radius: 10px;
    background-color: #bacbbe;
    color: #09734c;
   /* background-color: #d4d4d4;
    color: #09734c;*/
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: #a4b3a8;
    color: #09734c;
  }

  li {
    margin-left: 2em;
  }

  /* footnotes */
  .footnotedesc {
    margin-top: 2em;
    margin-left: 1em;
    border-top: 1px solid #555;
    margin-right: 0.3em;
    font-size: 1.05em;
    color: #555;
}

/*Side Navigation Bar */



.sidenav {
  height: 100%;
  width: 20em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #cfcfcf;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  border-radius: none;
  background-color: none;
  display: block;
}

.sidenav a:hover {
  background-color: #a3a2a2;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




  /* Blockquote Styling */
blockquote {
  border-radius: 15px;
  background-color: #cdbfa0;
  color: #232323;
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  position: relative;
  font-style: normal;
  backdrop-filter: blur(10px); /* Blur the content behind the element */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

blockquote p {
  text-align: left;
  margin-bottom: 0;
}

blockquote footer {
  text-align: right;
  font-size: 0.875rem;
  color: #a0a0a0;
} 

/* Inline Code Styling */
code {
  background-color: rgb(43, 48, 53, 0.9);
  color: #ffcb6b; /* A contrasting color for code text */
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace; /* Monospace font for code */
  font-size: 0.95em;
}

/* Block Code Styling */
pre {
  background-color: rgb(43, 48, 53, 0.9);;
  color: #E0E0E0;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto; /* Enable horizontal scrolling for long code lines */
  margin-bottom: 1.5rem;
  backdrop-filter: blur(10px); /* Blur the content behind the element */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

pre code {
  background-color: transparent;
  color: #ffcb6b;
  line-height: 1.4;
}

/*  Desktop/Mobile Sizing*/
article {
  width: 80%;
  margin: auto;
  padding: 0.5em; 
  box-sizing: border-box;
}

@media (max-width: 600px) {
  article {
      width: 100%;
      margin: 0;
  }
}

input {
  background-color: black;
  color:  #00FF00;
  margin: 0.01em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
}
button {
  background-color: #555;
  margin: 0.2em;
  border-radius: 0.5em;
  padding: 0.5em;
  border: none;
}

button:hover {
  background-color: #757575;
}
